body {
  width: 100%;
  margin:5px,5px,5px,5px;
  background-image: url('Back-ground.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box{
  position:absolute;
  width: 50%;
  height: 83%;
  left: 32% ;
  top: 84px;
  background: #267059;
  border-radius: 30px;
  font-size: 8,89%;
}

          
input[type=text], select, textarea {
  width: 40%;
  height: 8,5%;
  font-family: 'Inder';
  font-style: normal;
  padding: 2%;
  border: 1px solid #2C3E50;
  background-color:#ADBB90;
  box-sizing: border-box;
  margin-top: 1%;
  margin-left: 3%;
}

label{
  width: 25%;
  margin-top: 2%;
  margin-left: 3%;
  position: relative;
  font-family: 'Inder';
  font-style: normal;
  color: #B8C243;
}

input[type=submit] {
  background-color: #3AAFF0;
  margin: 1%;
  font-family: 'Inder';
  font-style:normal;
  font-size: large;
  padding: 2% 4%;
  color: rgb(239, 222, 35);            
  border-radius: 10px;
  display: block;
  margin-top: 0,5%;
  margin-left: 15%;
}

.img{
  position: absolute;
  left: 50%;
  right: 17%;
  top: 20%;
  bottom: 32.28%;
}

h1{
  font-family: 'Inder';
  font-style: normal;
  align-items: center;
  margin-left: 32% ; 
  position: absolute;
}

h2{
  margin-left:3%;
  font-family: 'Inder';
  font-style: normal;
  display: flex;
  align-items: center;
  color: rgba(98, 227, 255, 0.9);
}


      

















