body {
  width: 100%;
  margin:5px,5px,5px,5px;
  background-image: url('Back-ground.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box{
  position:absolute;
  width: 33%;
  height: 75%;
  left: 32% ;
  top: 84px;
  background: #267059;
  border-radius: 30px;
  font-size: 8,89%;
}
         
input[type=password], select, textarea {
  width: 60%;
  font-family: 'Inder';
  font-style: normal;
  padding: 12px;
  border: 1px solid #2C3E50;
  background-color:#ADBB90;
  box-sizing: border-box;
  margin-top: 6px;
  margin-left: 20%;
}

label{
  width: 25%;
  margin-top: 6px;
  margin-left: 20%;
  position: relative;
  font-family: 'Inder';
  font-style: normal;
  color: #B8C243;
}

input[type=submit] {
  background-color: #3AAFF0;
  margin: 5px;
  font-family: 'Inder';
  font-style:normal;
  font-size: large;
  padding: 15px 26px;
  color: rgb(239, 222, 35);            
  border-radius: 10px;
  display: block;
  margin-top: 3%;
  margin-left: 40%;
}

h1{
  font-family: 'Inder';
  font-style: normal;
  align-items: center;
  margin-left: 32% ; 
  position: absolute;
}

h2{
  margin-left:16%;
  margin-bottom:10%;
  font-family: 'Inder';
  font-style: normal;
  display: flex;
  align-items: center;
  color: rgba(98, 227, 255, 0.9);
}

        

















