body {
    width: 100%;
    background-image: url('Back-ground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
  
.box{
  position:absolute;
  width: 30%;
  height: 105%;
  left: 32% ;
  border-radius: 30px;
  background: #267059;
  font-size: 8,89%;
  margin-top: -3%;
}

.container{
  position:relative;
  margin-top: 5%;
}

input[type=text], select, textarea {
    width: 60%;
    font-family: 'Inder';
    font-style: normal;
    padding: 12px;
    border: 1px solid #2C3E50;
    background-color:#ADBB90;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 20%;
}

input[type=password], select, textarea {
    width: 60%;
    font-family: 'Inder';
    font-style: normal;
    padding: 12px;
    border: 1px solid #2C3E50;
    background-color:#ADBB90;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 20%;
}

input[type=email], select, textarea {
    width: 60%;
    font-family: 'Inder';
    font-style: normal;
    padding: 12px;
    border: 1px solid #2C3E50;
    background-color:#ADBB90;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 20%;
}

label{
    width: 25%;
    margin-top: 6px;
    margin-left: 20%;
    position: relative;
    font-family: 'Inder';
    font-style: normal;
    color: #B8C243;
  }
  
  input[type=submit] {
    background-color: #3AAFF0;
    font-family: 'Inder';
    font-style:normal;
    font-size: large;
    padding: 15px 26px;
    color: rgb(239, 222, 35);            
    border-radius: 10px;
    display: block;
    margin-top: 3%;
    margin-left: 36%;
  }

  h1{
    margin-left:38%;
    margin-bottom:2.5%;
    margin-top: 24%;
    font-family: 'Inder';
    font-style: normal;
    display: flex;
    align-items: center;
    color: rgba(98, 227, 255, 0.9);
  }

  h2{
    margin: 5px;
    font-family: 'Inder';
    font-style:normal;
    font-size: small;
    padding: 15px 26px;
    color: rgb(245, 245, 245);            
    display: block;
    margin-top: 0%;
    margin-left: 27%;
    margin-bottom: 3%;
  }

  h3{
      font-size: 200%;
      font-family: "Inder";
      margin-top: 0%;
      margin-left: 2%;
  }
 

.img{
    position: absolute;
    margin-top: 3%;
    margin-left: 41%;
}