 body {
    font-size: 14px;
  }
*{
    margin:0;
    padding: 0;
}
.back-ground{
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 200 px;
}
.panda-bear{
    width: 350px;
    height: 350px;
    background-image: url(images/Panda_Bear.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    right: 10%;
  }
  .text {
    width: 500px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 60%;
    left: 10%;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .login_background {
    width: 80px;
    height: 40px;
    background: linear-gradient(rgba(37,111,89,1), rgba(58,174,240,1));
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 80%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    overflow: hidden;
  }
  .login {
    width: 80px;
    color: rgba(247,249,245,1);
    position: absolute;
    top: 5%;
    left: 80%;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .support_us_background{
    width: 140px;
    height: 40px;
    background: linear-gradient(rgba(215,178,47,1), rgba(37,111,89,1));
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 65%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    overflow: hidden;
  }
  .support_us {
    width: 140px;
    color: rgba(247,249,245,1);
    position: absolute;
    top: 5%;
    left: 65%;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .about_us_background {
    width: 135px;
    height: 40px;
    background: linear-gradient(rgba(58,174,240,1), rgba(215,178,47,1));
    opacity: 1;
    position: absolute;
    top: 5%;
    left: 50%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }
  .about_us {
    width: 135px;
    color: rgba(247,249,245,1);
    position: absolute;
    top: 5%;
    left: 50%;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .top {
    width: 150px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .middle {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: Inter;
    font-weight: Bold;
    font-size: 70px;
    opacity: 1;
    text-align: left;
  }
  .sign_up_background {
    width: 110px;
    height: 40px;
    background: linear-gradient(rgba(204,190,73,1), rgba(37,111,89,1));
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 20%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    overflow: hidden;
  }
  .sign_up {
    width: 110px;
    color: rgba(229,229,229,1);
    position: absolute;
    top: 80%;
    left: 20%;
    font-family: Inder;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
